<fieldset>
    <legend>{{title}}</legend>
    <div>
        <label for="book-title">Book Title</label><br>
        <input id="book-title" type="text" name="bookTitle" value="{{review.bookTitle}}"/>
    </div>
    <div>
        <label for="book-author">Book Author</label><br>
        <input id="book-author" type="text" name="bookAuthor" value="{{review.bookAuthor}}"/>
    </div>
    <div>
        <label for="description-text">Description</label><br>
        <textarea id="description-text" type="text" name="description" rows="10" ></textarea>
    </div>
</fieldset>